*.fasta
*.fa
*.fastq
*.fq
*.gz

blue_mapper
build
googletest
include/blue_mapper.hpp
.clang-format


### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
