[submodule "brown_mapper/brown_mapper/bioparser"]
	path = brown_mapper/brown_mapper/bioparser
	url = https://github.com/rvaser/bioparser.git
[submodule "brown_mapper/bioparser"]
	path = brown_mapper/bioparser
	url = https://github.com/rvaser/bioparser.git
